@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&display=swap');
// Colors

red = #FF5C5C
veryDarkBlue = #242942
darkGrayishBlue = #5B5F71
grayishBlue = #A0A1AC
lightGrayishBlue = #EEF3F6

// Fonts

font18 = 18px
fBarlow = 'Barlow', sans-serif
fBarlowR = 400

fBarlowCondense = 'Barlow Condensed', sans-serif
fBarlowCondenseR = 400
fBarlowCondenseB = 700